@charset "UTF-8";


td.aliceblue {
  color: orange;
  background: #f0f8ff;
}

#aliceblue_A, #aliceblue_AA, #aliceblue_AAA {
  color: orange;
}

#aliceblue_A {
  background: #ffffff;
}

#aliceblue_AA {
  background: #ffffff;
}

#aliceblue_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.antiquewhite {
  color: orange;
  background: #faebd7;
}

#antiquewhite_A, #antiquewhite_AA, #antiquewhite_AAA {
  color: orange;
}

#antiquewhite_A {
  background: #ffffff;
}

#antiquewhite_AA {
  background: #ffffff;
}

#antiquewhite_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.aqua {
  color: orange;
  background: #00ffff;
}

#aqua_A, #aqua_AA, #aqua_AAA {
  color: orange;
}

#aqua_A {
  background: #00ffff;
}

#aqua_AA {
  background: #00ffff;
}

#aqua_AAA {
  background: #00ffff;
}

td.level_no {
  background: #ff0000;
}


td.aquamarine {
  color: orange;
  background: #7fffd4;
}

#aquamarine_A, #aquamarine_AA, #aquamarine_AAA {
  color: orange;
}

#aquamarine_A {
  background: #ffffff;
}

#aquamarine_AA {
  background: #ffffff;
}

#aquamarine_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.azure {
  color: orange;
  background: #f0ffff;
}

#azure_A, #azure_AA, #azure_AAA {
  color: orange;
}

#azure_A {
  background: #ffffff;
}

#azure_AA {
  background: #ffffff;
}

#azure_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.beige {
  color: orange;
  background: #f5f5dc;
}

#beige_A, #beige_AA, #beige_AAA {
  color: orange;
}

#beige_A {
  background: #ffffff;
}

#beige_AA {
  background: #ffffff;
}

#beige_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.bisque {
  color: orange;
  background: #ffe4c4;
}

#bisque_A, #bisque_AA, #bisque_AAA {
  color: orange;
}

#bisque_A {
  background: #ffffff;
}

#bisque_AA {
  background: #ffffff;
}

#bisque_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.black {
  color: orange;
  background: #000000;
}

#black_A, #black_AA, #black_AAA {
  color: orange;
}

#black_A {
  background: #000000;
}

#black_AA {
  background: #000000;
}

#black_AAA {
  background: #000000;
}

td.level_no {
  background: #ff0000;
}


td.blanchedalmond {
  color: orange;
  background: #ffebcd;
}

#blanchedalmond_A, #blanchedalmond_AA, #blanchedalmond_AAA {
  color: orange;
}

#blanchedalmond_A {
  background: #ffffff;
}

#blanchedalmond_AA {
  background: #ffffff;
}

#blanchedalmond_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.blue {
  color: orange;
  background: #0000ff;
}

#blue_A, #blue_AA, #blue_AAA {
  color: orange;
}

#blue_A {
  background: #0000ff;
}

#blue_AA {
  background: #0000f8;
}

#blue_AAA {
  background: #0000a1;
}

td.level_no {
  background: #ff0000;
}


td.blueviolet {
  color: orange;
  background: #8a2be2;
}

#blueviolet_A, #blueviolet_AA, #blueviolet_AAA {
  color: orange;
}

#blueviolet_A {
  background: #8a2be3;
}

#blueviolet_AA {
  background: #6720a9;
}

#blueviolet_AAA {
  background: #401468;
}

td.level_no {
  background: #ff0000;
}


td.brown {
  color: orange;
  background: #a52a2a;
}

#brown_A, #brown_AA, #brown_AAA {
  color: orange;
}

#brown_A {
  background: #ba2f2f;
}

#brown_AA {
  background: #8b2323;
}

#brown_AAA {
  background: #551616;
}

td.level_no {
  background: #ff0000;
}


td.burlywood {
  color: orange;
  background: #deb887;
}

#burlywood_A, #burlywood_AA, #burlywood_AAA {
  color: orange;
}

#burlywood_A {
  background: #ffffff;
}

#burlywood_AA {
  background: #ffffff;
}

#burlywood_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.cadetblue {
  color: orange;
  background: #5f9ea0;
}

#cadetblue_A, #cadetblue_AA, #cadetblue_AAA {
  color: orange;
}

#cadetblue_A {
  background: #406b6c;
}

#cadetblue_AA {
  background: #304f50;
}

#cadetblue_AAA {
  background: #1d3030;
}

td.level_no {
  background: #ff0000;
}


td.chartreuse {
  color: orange;
  background: #7fff00;
}

#chartreuse_A, #chartreuse_AA, #chartreuse_AAA {
  color: orange;
}

#chartreuse_A {
  background: #ffff00;
}

#chartreuse_AA {
  background: #ffff00;
}

#chartreuse_AAA {
  background: #ffff00;
}

td.level_no {
  background: #ff0000;
}


td.chocolate {
  color: orange;
  background: #d2691e;
}

#chocolate_A, #chocolate_AA, #chocolate_AAA {
  color: orange;
}

#chocolate_A {
  background: #9d4e16;
}

#chocolate_AA {
  background: #743a11;
}

#chocolate_AAA {
  background: #47230a;
}

td.level_no {
  background: #ff0000;
}


td.coral {
  color: orange;
  background: #ff7f50;
}

#coral_A, #coral_AA, #coral_AAA {
  color: orange;
}

#coral_A {
  background: #9c4d31;
}

#coral_AA {
  background: #733924;
}

#coral_AAA {
  background: #462316;
}

td.level_no {
  background: #ff0000;
}


td.cornflowerblue {
  color: orange;
  background: #6495ed;
}

#cornflowerblue_A, #cornflowerblue_AA, #cornflowerblue_AAA {
  color: orange;
}

#cornflowerblue_A {
  background: #43639e;
}

#cornflowerblue_AA {
  background: #314975;
}

#cornflowerblue_AAA {
  background: #1e2c47;
}

td.level_no {
  background: #ff0000;
}


td.cornsilk {
  color: orange;
  background: #fff8dc;
}

#cornsilk_A, #cornsilk_AA, #cornsilk_AAA {
  color: orange;
}

#cornsilk_A {
  background: #ffffff;
}

#cornsilk_AA {
  background: #ffffff;
}

#cornsilk_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.crimson {
  color: orange;
  background: #dc143c;
}

#crimson_A, #crimson_AA, #crimson_AAA {
  color: orange;
}

#crimson_A {
  background: #c61236;
}

#crimson_AA {
  background: #940d28;
}

#crimson_AAA {
  background: #5d0819;
}

td.level_no {
  background: #ff0000;
}


td.cyan {
  color: orange;
  background: #00ffff;
}

#cyan_A, #cyan_AA, #cyan_AAA {
  color: orange;
}

#cyan_A {
  background: #00ffff;
}

#cyan_AA {
  background: #00ffff;
}

#cyan_AAA {
  background: #00ffff;
}

td.level_no {
  background: #ff0000;
}


td.darkblue {
  color: orange;
  background: #00008b;
}

#darkblue_A, #darkblue_AA, #darkblue_AAA {
  color: orange;
}

#darkblue_A {
  background: #0000ff;
}

#darkblue_AA {
  background: #0000f8;
}

#darkblue_AAA {
  background: #0000a1;
}

td.level_no {
  background: #ff0000;
}


td.darkcyan {
  color: orange;
  background: #008b8b;
}

#darkcyan_A, #darkcyan_AA, #darkcyan_AAA {
  color: orange;
}

#darkcyan_A {
  background: #006f6f;
}

#darkcyan_AA {
  background: #005353;
}

#darkcyan_AAA {
  background: #003232;
}

td.level_no {
  background: #ff0000;
}


td.darkgoldenrod {
  color: orange;
  background: #b8860b;
}

#darkgoldenrod_A, #darkgoldenrod_AA, #darkgoldenrod_AAA {
  color: orange;
}

#darkgoldenrod_A {
  background: #815e08;
}

#darkgoldenrod_AA {
  background: #5f4506;
}

#darkgoldenrod_AAA {
  background: #3a2a03;
}

td.level_no {
  background: #ff0000;
}


td.darkgray {
  color: orange;
  background: #a9a9a9;
}

#darkgray_A, #darkgray_AA, #darkgray_AAA {
  color: orange;
}

#darkgray_A {
  background: #636363;
}

#darkgray_AA {
  background: #494949;
}

#darkgray_AAA {
  background: #2c2c2c;
}

td.level_no {
  background: #ff0000;
}


td.darkgreen {
  color: orange;
  background: #006400;
}

#darkgreen_A, #darkgreen_AA, #darkgreen_AAA {
  color: orange;
}

#darkgreen_A {
  background: #007500;
}

#darkgreen_AA {
  background: #005600;
}

#darkgreen_AAA {
  background: #003500;
}

td.level_no {
  background: #ff0000;
}


td.darkgrey {
  color: orange;
  background: #a9a9a9;
}

#darkgrey_A, #darkgrey_AA, #darkgrey_AAA {
  color: orange;
}

#darkgrey_A {
  background: #636363;
}

#darkgrey_AA {
  background: #494949;
}

#darkgrey_AAA {
  background: #2c2c2c;
}

td.level_no {
  background: #ff0000;
}


td.darkkhaki {
  color: orange;
  background: #bdb76b;
}

#darkkhaki_A, #darkkhaki_AA, #darkkhaki_AAA {
  color: orange;
}

#darkkhaki_A {
  background: #69653b;
}

#darkkhaki_AA {
  background: #4d4b2c;
}

#darkkhaki_AAA {
  background: #2f2d1b;
}

td.level_no {
  background: #ff0000;
}


td.darkmagenta {
  color: orange;
  background: #8b008b;
}

#darkmagenta_A, #darkmagenta_AA, #darkmagenta_AAA {
  color: orange;
}

#darkmagenta_A {
  background: #b200b2;
}

#darkmagenta_AA {
  background: #860086;
}

#darkmagenta_AAA {
  background: #550055;
}

td.level_no {
  background: #ff0000;
}


td.darkolivegreen {
  color: orange;
  background: #556b2f;
}

#darkolivegreen_A, #darkolivegreen_AA, #darkolivegreen_AAA {
  color: orange;
}

#darkolivegreen_A {
  background: #556b2f;
}

#darkolivegreen_AA {
  background: #3f4f23;
}

#darkolivegreen_AAA {
  background: #263015;
}

td.level_no {
  background: #ff0000;
}


td.darkorange {
  color: orange;
  background: #ff8c00;
}

#darkorange_A, #darkorange_AA, #darkorange_AAA {
  color: orange;
}

#darkorange_A {
  background: #965300;
}

#darkorange_AA {
  background: #703d00;
}

#darkorange_AAA {
  background: #442500;
}

td.level_no {
  background: #ff0000;
}


td.darkorchid {
  color: orange;
  background: #9932cc;
}

#darkorchid_A, #darkorchid_AA, #darkorchid_AAA {
  color: orange;
}

#darkorchid_A {
  background: #9531c7;
}

#darkorchid_AA {
  background: #6f2495;
}

#darkorchid_AAA {
  background: #45165b;
}

td.level_no {
  background: #ff0000;
}


td.darkred {
  color: orange;
  background: #8b0000;
}

#darkred_A, #darkred_AA, #darkred_AAA {
  color: orange;
}

#darkred_A {
  background: #cb0000;
}

#darkred_AA {
  background: #990000;
}

#darkred_AAA {
  background: #610000;
}

td.level_no {
  background: #ff0000;
}


td.darksalmon {
  color: orange;
  background: #e9967a;
}

#darksalmon_A, #darksalmon_AA, #darksalmon_AAA {
  color: orange;
}

#darksalmon_A {
  background: #885847;
}

#darksalmon_AA {
  background: #654135;
}

#darksalmon_AAA {
  background: #3d2720;
}

td.level_no {
  background: #ff0000;
}


td.darkseagreen {
  color: orange;
  background: #8fbc8f;
}

#darkseagreen_A, #darkseagreen_AA, #darkseagreen_AAA {
  color: orange;
}

#darkseagreen_A {
  background: #516a51;
}

#darkseagreen_AA {
  background: #3c4e3c;
}

#darkseagreen_AAA {
  background: #242f24;
}

td.level_no {
  background: #ff0000;
}


td.darkslateblue {
  color: orange;
  background: #483d8b;
}

#darkslateblue_A, #darkslateblue_AA, #darkslateblue_AAA {
  color: orange;
}

#darkslateblue_A {
  background: #6354be;
}

#darkslateblue_AA {
  background: #493e8e;
}

#darkslateblue_AAA {
  background: #2c2656;
}

td.level_no {
  background: #ff0000;
}


td.darkslategray {
  color: orange;
  background: #2f4f4f;
}

#darkslategray_A, #darkslategray_AA, #darkslategray_AAA {
  color: orange;
}

#darkslategray_A {
  background: #406b6b;
}

#darkslategray_AA {
  background: #2f4f4f;
}

#darkslategray_AAA {
  background: #1d3030;
}

td.level_no {
  background: #ff0000;
}


td.darkslategrey {
  color: orange;
  background: #2f4f4f;
}

#darkslategrey_A, #darkslategrey_AA, #darkslategrey_AAA {
  color: orange;
}

#darkslategrey_A {
  background: #406b6b;
}

#darkslategrey_AA {
  background: #2f4f4f;
}

#darkslategrey_AAA {
  background: #1d3030;
}

td.level_no {
  background: #ff0000;
}


td.darkturquoise {
  color: orange;
  background: #00ced1;
}

#darkturquoise_A, #darkturquoise_AA, #darkturquoise_AAA {
  color: orange;
}

#darkturquoise_A {
  background: #00ffff;
}

#darkturquoise_AA {
  background: #00ffff;
}

#darkturquoise_AAA {
  background: #00ffff;
}

td.level_no {
  background: #ff0000;
}


td.darkviolet {
  color: orange;
  background: #9400d3;
}

#darkviolet_A, #darkviolet_AA, #darkviolet_AAA {
  color: orange;
}

#darkviolet_A {
  background: #9e00e1;
}

#darkviolet_AA {
  background: #7700a9;
}

#darkviolet_AAA {
  background: #4b006c;
}

td.level_no {
  background: #ff0000;
}


td.deeppink {
  color: orange;
  background: #ff1493;
}

#deeppink_A, #deeppink_AA, #deeppink_AAA {
  color: orange;
}

#deeppink_A {
  background: #c00f6f;
}

#deeppink_AA {
  background: #900b53;
}

#deeppink_AAA {
  background: #5a0734;
}

td.level_no {
  background: #ff0000;
}


td.deepskyblue {
  color: orange;
  background: #00bfff;
}

#deepskyblue_A, #deepskyblue_AA, #deepskyblue_AAA {
  color: orange;
}

#deepskyblue_A {
  background: #006b8f;
}

#deepskyblue_AA {
  background: #00506b;
}

#deepskyblue_AAA {
  background: #003142;
}

td.level_no {
  background: #ff0000;
}


td.dimgray {
  color: orange;
  background: #696969;
}

#dimgray_A, #dimgray_AA, #dimgray_AAA {
  color: orange;
}

#dimgray_A {
  background: #636363;
}

#dimgray_AA {
  background: #494949;
}

#dimgray_AAA {
  background: #2c2c2c;
}

td.level_no {
  background: #ff0000;
}


td.dimgrey {
  color: orange;
  background: #696969;
}

#dimgrey_A, #dimgrey_AA, #dimgrey_AAA {
  color: orange;
}

#dimgrey_A {
  background: #636363;
}

#dimgrey_AA {
  background: #494949;
}

#dimgrey_AAA {
  background: #2c2c2c;
}

td.level_no {
  background: #ff0000;
}


td.dodgerblue {
  color: orange;
  background: #1e90ff;
}

#dodgerblue_A, #dodgerblue_AA, #dodgerblue_AAA {
  color: orange;
}

#dodgerblue_A {
  background: #1565b3;
}

#dodgerblue_AA {
  background: #104b84;
}

#dodgerblue_AAA {
  background: #092d50;
}

td.level_no {
  background: #ff0000;
}


td.firebrick {
  color: orange;
  background: #b22222;
}

#firebrick_A, #firebrick_AA, #firebrick_AAA {
  color: orange;
}

#firebrick_A {
  background: #c02525;
}

#firebrick_AA {
  background: #901b1b;
}

#firebrick_AAA {
  background: #591111;
}

td.level_no {
  background: #ff0000;
}


td.floralwhite {
  color: orange;
  background: #fffaf0;
}

#floralwhite_A, #floralwhite_AA, #floralwhite_AAA {
  color: orange;
}

#floralwhite_A {
  background: #ffffff;
}

#floralwhite_AA {
  background: #ffffff;
}

#floralwhite_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.forestgreen {
  color: orange;
  background: #228b22;
}

#forestgreen_A, #forestgreen_AA, #forestgreen_AAA {
  color: orange;
}

#forestgreen_A {
  background: #1c731c;
}

#forestgreen_AA {
  background: #155515;
}

#forestgreen_AAA {
  background: #0d340d;
}

td.level_no {
  background: #ff0000;
}


td.fuchsia {
  color: orange;
  background: #ff00ff;
}

#fuchsia_A, #fuchsia_AA, #fuchsia_AAA {
  color: orange;
}

#fuchsia_A {
  background: #b200b2;
}

#fuchsia_AA {
  background: #860086;
}

#fuchsia_AAA {
  background: #550055;
}

td.level_no {
  background: #ff0000;
}


td.gainsboro {
  color: orange;
  background: #dcdcdc;
}

#gainsboro_A, #gainsboro_AA, #gainsboro_AAA {
  color: orange;
}

#gainsboro_A {
  background: #ffffff;
}

#gainsboro_AA {
  background: #ffffff;
}

#gainsboro_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.ghostwhite {
  color: orange;
  background: #f8f8ff;
}

#ghostwhite_A, #ghostwhite_AA, #ghostwhite_AAA {
  color: orange;
}

#ghostwhite_A {
  background: #ffffff;
}

#ghostwhite_AA {
  background: #ffffff;
}

#ghostwhite_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.gold {
  color: orange;
  background: #ffd700;
}

#gold_A, #gold_AA, #gold_AAA {
  color: orange;
}

#gold_A {
  background: #ffff00;
}

#gold_AA {
  background: #ffff00;
}

#gold_AAA {
  background: #ffff00;
}

td.level_no {
  background: #ff0000;
}


td.goldenrod {
  color: orange;
  background: #daa520;
}

#goldenrod_A, #goldenrod_AA, #goldenrod_AAA {
  color: orange;
}

#goldenrod_A {
  background: #7e5f12;
}

#goldenrod_AA {
  background: #5d460e;
}

#goldenrod_AAA {
  background: #382b08;
}

td.level_no {
  background: #ff0000;
}


td.gray {
  color: orange;
  background: #808080;
}

#gray_A, #gray_AA, #gray_AAA {
  color: orange;
}

#gray_A {
  background: #636363;
}

#gray_AA {
  background: #494949;
}

#gray_AAA {
  background: #2c2c2c;
}

td.level_no {
  background: #ff0000;
}


td.green {
  color: orange;
  background: #008000;
}

#green_A, #green_AA, #green_AAA {
  color: orange;
}

#green_A {
  background: #007500;
}

#green_AA {
  background: #005600;
}

#green_AAA {
  background: #003500;
}

td.level_no {
  background: #ff0000;
}


td.greenyellow {
  color: orange;
  background: #adff2f;
}

#greenyellow_A, #greenyellow_AA, #greenyellow_AAA {
  color: orange;
}

#greenyellow_A {
  background: #ffffff;
}

#greenyellow_AA {
  background: #ffffff;
}

#greenyellow_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.grey {
  color: orange;
  background: #808080;
}

#grey_A, #grey_AA, #grey_AAA {
  color: orange;
}

#grey_A {
  background: #636363;
}

#grey_AA {
  background: #494949;
}

#grey_AAA {
  background: #2c2c2c;
}

td.level_no {
  background: #ff0000;
}


td.honeydew {
  color: orange;
  background: #f0fff0;
}

#honeydew_A, #honeydew_AA, #honeydew_AAA {
  color: orange;
}

#honeydew_A {
  background: #ffffff;
}

#honeydew_AA {
  background: #ffffff;
}

#honeydew_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.hotpink {
  color: orange;
  background: #ff69b4;
}

#hotpink_A, #hotpink_AA, #hotpink_AAA {
  color: orange;
}

#hotpink_A {
  background: #a14272;
}

#hotpink_AA {
  background: #773154;
}

#hotpink_AAA {
  background: #491e34;
}

td.level_no {
  background: #ff0000;
}


td.indianred {
  color: orange;
  background: #cd5c5c;
}

#indianred_A, #indianred_AA, #indianred_AAA {
  color: orange;
}

#indianred_A {
  background: #a14848;
}

#indianred_AA {
  background: #773535;
}

#indianred_AAA {
  background: #482020;
}

td.level_no {
  background: #ff0000;
}


td.indigo {
  color: orange;
  background: #4b0082;
}

#indigo_A, #indigo_AA, #indigo_AAA {
  color: orange;
}

#indigo_A {
  background: #8f00f9;
}

#indigo_AA {
  background: #6c00bb;
}

#indigo_AAA {
  background: #440077;
}

td.level_no {
  background: #ff0000;
}


td.ivory {
  color: orange;
  background: #fffff0;
}

#ivory_A, #ivory_AA, #ivory_AAA {
  color: orange;
}

#ivory_A {
  background: #ffffff;
}

#ivory_AA {
  background: #ffffff;
}

#ivory_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.khaki {
  color: orange;
  background: #f0e68c;
}

#khaki_A, #khaki_AA, #khaki_AAA {
  color: orange;
}

#khaki_A {
  background: #ffffff;
}

#khaki_AA {
  background: #ffffff;
}

#khaki_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lavender {
  color: orange;
  background: #e6e6fa;
}

#lavender_A, #lavender_AA, #lavender_AAA {
  color: orange;
}

#lavender_A {
  background: #ffffff;
}

#lavender_AA {
  background: #ffffff;
}

#lavender_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lavenderblush {
  color: orange;
  background: #fff0f5;
}

#lavenderblush_A, #lavenderblush_AA, #lavenderblush_AAA {
  color: orange;
}

#lavenderblush_A {
  background: #ffffff;
}

#lavenderblush_AA {
  background: #ffffff;
}

#lavenderblush_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lawngreen {
  color: orange;
  background: #7cfc00;
}

#lawngreen_A, #lawngreen_AA, #lawngreen_AAA {
  color: orange;
}

#lawngreen_A {
  background: #ffff00;
}

#lawngreen_AA {
  background: #ffff00;
}

#lawngreen_AAA {
  background: #ffff00;
}

td.level_no {
  background: #ff0000;
}


td.lemonchiffon {
  color: orange;
  background: #fffacd;
}

#lemonchiffon_A, #lemonchiffon_AA, #lemonchiffon_AAA {
  color: orange;
}

#lemonchiffon_A {
  background: #ffffff;
}

#lemonchiffon_AA {
  background: #ffffff;
}

#lemonchiffon_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightblue {
  color: orange;
  background: #add8e6;
}

#lightblue_A, #lightblue_AA, #lightblue_AAA {
  color: orange;
}

#lightblue_A {
  background: #ffffff;
}

#lightblue_AA {
  background: #ffffff;
}

#lightblue_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightcoral {
  color: orange;
  background: #f08080;
}

#lightcoral_A, #lightcoral_AA, #lightcoral_AAA {
  color: orange;
}

#lightcoral_A {
  background: #955050;
}

#lightcoral_AA {
  background: #6e3b3b;
}

#lightcoral_AAA {
  background: #432424;
}

td.level_no {
  background: #ff0000;
}


td.lightcyan {
  color: orange;
  background: #e0ffff;
}

#lightcyan_A, #lightcyan_AA, #lightcyan_AAA {
  color: orange;
}

#lightcyan_A {
  background: #ffffff;
}

#lightcyan_AA {
  background: #ffffff;
}

#lightcyan_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightgoldenrodyellow {
  color: orange;
  background: #fafad2;
}

#lightgoldenrodyellow_A, #lightgoldenrodyellow_AA, #lightgoldenrodyellow_AAA {
  color: orange;
}

#lightgoldenrodyellow_A {
  background: #ffffff;
}

#lightgoldenrodyellow_AA {
  background: #ffffff;
}

#lightgoldenrodyellow_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightgray {
  color: orange;
  background: #d3d3d3;
}

#lightgray_A, #lightgray_AA, #lightgray_AAA {
  color: orange;
}

#lightgray_A {
  background: #ffffff;
}

#lightgray_AA {
  background: #ffffff;
}

#lightgray_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightgreen {
  color: orange;
  background: #90ee90;
}

#lightgreen_A, #lightgreen_AA, #lightgreen_AAA {
  color: orange;
}

#lightgreen_A {
  background: #ffffff;
}

#lightgreen_AA {
  background: #ffffff;
}

#lightgreen_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightgrey {
  color: orange;
  background: #d3d3d3;
}

#lightgrey_A, #lightgrey_AA, #lightgrey_AAA {
  color: orange;
}

#lightgrey_A {
  background: #ffffff;
}

#lightgrey_AA {
  background: #ffffff;
}

#lightgrey_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightpink {
  color: orange;
  background: #ffb6c1;
}

#lightpink_A, #lightpink_AA, #lightpink_AAA {
  color: orange;
}

#lightpink_A {
  background: #ffffff;
}

#lightpink_AA {
  background: #ffffff;
}

#lightpink_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightsalmon {
  color: orange;
  background: #ffa07a;
}

#lightsalmon_A, #lightsalmon_AA, #lightsalmon_AAA {
  color: orange;
}

#lightsalmon_A {
  background: #8b5743;
}

#lightsalmon_AA {
  background: #674031;
}

#lightsalmon_AAA {
  background: #3e271e;
}

td.level_no {
  background: #ff0000;
}


td.lightseagreen {
  color: orange;
  background: #20b2aa;
}

#lightseagreen_A, #lightseagreen_AA, #lightseagreen_AAA {
  color: orange;
}

#lightseagreen_A {
  background: #146f6a;
}

#lightseagreen_AA {
  background: #0f524f;
}

#lightseagreen_AAA {
  background: #093230;
}

td.level_no {
  background: #ff0000;
}


td.lightskyblue {
  color: orange;
  background: #87cefa;
}

#lightskyblue_A, #lightskyblue_AA, #lightskyblue_AAA {
  color: orange;
}

#lightskyblue_A {
  background: #ffffff;
}

#lightskyblue_AA {
  background: #ffffff;
}

#lightskyblue_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightslategray {
  color: orange;
  background: #778899;
}

#lightslategray_A, #lightslategray_AA, #lightslategray_AAA {
  color: orange;
}

#lightslategray_A {
  background: #596572;
}

#lightslategray_AA {
  background: #414b54;
}

#lightslategray_AAA {
  background: #282d33;
}

td.level_no {
  background: #ff0000;
}


td.lightslategrey {
  color: orange;
  background: #778899;
}

#lightslategrey_A, #lightslategrey_AA, #lightslategrey_AAA {
  color: orange;
}

#lightslategrey_A {
  background: #596572;
}

#lightslategrey_AA {
  background: #414b54;
}

#lightslategrey_AAA {
  background: #282d33;
}

td.level_no {
  background: #ff0000;
}


td.lightsteelblue {
  color: orange;
  background: #b0c4de;
}

#lightsteelblue_A, #lightsteelblue_AA, #lightsteelblue_AAA {
  color: orange;
}

#lightsteelblue_A {
  background: #ffffff;
}

#lightsteelblue_AA {
  background: #ffffff;
}

#lightsteelblue_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lightyellow {
  color: orange;
  background: #ffffe0;
}

#lightyellow_A, #lightyellow_AA, #lightyellow_AAA {
  color: orange;
}

#lightyellow_A {
  background: #ffffff;
}

#lightyellow_AA {
  background: #ffffff;
}

#lightyellow_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.lime {
  color: orange;
  background: #00ff00;
}

#lime_A, #lime_AA, #lime_AAA {
  color: orange;
}

#lime_A {
  background: #00ff00;
}

#lime_AA {
  background: #00ff00;
}

#lime_AAA {
  background: #00ff00;
}

td.level_no {
  background: #ff0000;
}


td.limegreen {
  color: orange;
  background: #32cd32;
}

#limegreen_A, #limegreen_AA, #limegreen_AAA {
  color: orange;
}

#limegreen_A {
  background: #1c731c;
}

#limegreen_AA {
  background: #155515;
}

#limegreen_AAA {
  background: #0d340d;
}

td.level_no {
  background: #ff0000;
}


td.linen {
  color: orange;
  background: #faf0e6;
}

#linen_A, #linen_AA, #linen_AAA {
  color: orange;
}

#linen_A {
  background: #ffffff;
}

#linen_AA {
  background: #ffffff;
}

#linen_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.magenta {
  color: orange;
  background: #ff00ff;
}

#magenta_A, #magenta_AA, #magenta_AAA {
  color: orange;
}

#magenta_A {
  background: #b200b2;
}

#magenta_AA {
  background: #860086;
}

#magenta_AAA {
  background: #550055;
}

td.level_no {
  background: #ff0000;
}


td.maroon {
  color: orange;
  background: #800000;
}

#maroon_A, #maroon_AA, #maroon_AAA {
  color: orange;
}

#maroon_A {
  background: #cb0000;
}

#maroon_AA {
  background: #990000;
}

#maroon_AAA {
  background: #610000;
}

td.level_no {
  background: #ff0000;
}


td.mediumaquamarine {
  color: orange;
  background: #66cdaa;
}

#mediumaquamarine_A, #mediumaquamarine_AA, #mediumaquamarine_AAA {
  color: orange;
}

#mediumaquamarine_A {
  background: #ffffff;
}

#mediumaquamarine_AA {
  background: #ffffff;
}

#mediumaquamarine_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.mediumblue {
  color: orange;
  background: #0000cd;
}

#mediumblue_A, #mediumblue_AA, #mediumblue_AAA {
  color: orange;
}

#mediumblue_A {
  background: #0000ff;
}

#mediumblue_AA {
  background: #0000f8;
}

#mediumblue_AAA {
  background: #0000a1;
}

td.level_no {
  background: #ff0000;
}


td.mediumorchid {
  color: orange;
  background: #ba55d3;
}

#mediumorchid_A, #mediumorchid_AA, #mediumorchid_AAA {
  color: orange;
}

#mediumorchid_A {
  background: #9142a5;
}

#mediumorchid_AA {
  background: #6c317b;
}

#mediumorchid_AAA {
  background: #421e4b;
}

td.level_no {
  background: #ff0000;
}


td.mediumpurple {
  color: orange;
  background: #9370db;
}

#mediumpurple_A, #mediumpurple_AA, #mediumpurple_AAA {
  color: orange;
}

#mediumpurple_A {
  background: #7055a6;
}

#mediumpurple_AA {
  background: #523f7b;
}

#mediumpurple_AAA {
  background: #32264b;
}

td.level_no {
  background: #ff0000;
}


td.mediumseagreen {
  color: orange;
  background: #3cb371;
}

#mediumseagreen_A, #mediumseagreen_AA, #mediumseagreen_AAA {
  color: orange;
}

#mediumseagreen_A {
  background: #267148;
}

#mediumseagreen_AA {
  background: #1c5335;
}

#mediumseagreen_AAA {
  background: #113320;
}

td.level_no {
  background: #ff0000;
}


td.mediumslateblue {
  color: orange;
  background: #7b68ee;
}

#mediumslateblue_A, #mediumslateblue_AA, #mediumslateblue_AAA {
  color: orange;
}

#mediumslateblue_A {
  background: #6353bf;
}

#mediumslateblue_AA {
  background: #493e8e;
}

#mediumslateblue_AAA {
  background: #2c2656;
}

td.level_no {
  background: #ff0000;
}


td.mediumspringgreen {
  color: orange;
  background: #00fa9a;
}

#mediumspringgreen_A, #mediumspringgreen_AA, #mediumspringgreen_AAA {
  color: orange;
}

#mediumspringgreen_A {
  background: #00ffff;
}

#mediumspringgreen_AA {
  background: #00ffff;
}

#mediumspringgreen_AAA {
  background: #00ffff;
}

td.level_no {
  background: #ff0000;
}


td.mediumturquoise {
  color: orange;
  background: #48d1cc;
}

#mediumturquoise_A, #mediumturquoise_AA, #mediumturquoise_AAA {
  color: orange;
}

#mediumturquoise_A {
  background: #ffffff;
}

#mediumturquoise_AA {
  background: #ffffff;
}

#mediumturquoise_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.mediumvioletred {
  color: orange;
  background: #c71585;
}

#mediumvioletred_A, #mediumvioletred_AA, #mediumvioletred_AAA {
  color: orange;
}

#mediumvioletred_A {
  background: #bc147e;
}

#mediumvioletred_AA {
  background: #8d0f5e;
}

#mediumvioletred_AAA {
  background: #58093b;
}

td.level_no {
  background: #ff0000;
}


td.midnightblue {
  color: orange;
  background: #191970;
}

#midnightblue_A, #midnightblue_AA, #midnightblue_AAA {
  color: orange;
}

#midnightblue_A {
  background: #4444ff;
}

#midnightblue_AA {
  background: #2d2dcc;
}

#midnightblue_AAA {
  background: #1c1c7e;
}

td.level_no {
  background: #ff0000;
}


td.mintcream {
  color: orange;
  background: #f5fffa;
}

#mintcream_A, #mintcream_AA, #mintcream_AAA {
  color: orange;
}

#mintcream_A {
  background: #ffffff;
}

#mintcream_AA {
  background: #ffffff;
}

#mintcream_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.mistyrose {
  color: orange;
  background: #ffe4e1;
}

#mistyrose_A, #mistyrose_AA, #mistyrose_AAA {
  color: orange;
}

#mistyrose_A {
  background: #ffffff;
}

#mistyrose_AA {
  background: #ffffff;
}

#mistyrose_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.moccasin {
  color: orange;
  background: #ffe4b5;
}

#moccasin_A, #moccasin_AA, #moccasin_AAA {
  color: orange;
}

#moccasin_A {
  background: #ffffff;
}

#moccasin_AA {
  background: #ffffff;
}

#moccasin_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.navajowhite {
  color: orange;
  background: #ffdead;
}

#navajowhite_A, #navajowhite_AA, #navajowhite_AAA {
  color: orange;
}

#navajowhite_A {
  background: #ffffff;
}

#navajowhite_AA {
  background: #ffffff;
}

#navajowhite_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.navy {
  color: orange;
  background: #000080;
}

#navy_A, #navy_AA, #navy_AAA {
  color: orange;
}

#navy_A {
  background: #0000ff;
}

#navy_AA {
  background: #0000f8;
}

#navy_AAA {
  background: #0000a1;
}

td.level_no {
  background: #ff0000;
}


td.oldlace {
  color: orange;
  background: #fdf5e6;
}

#oldlace_A, #oldlace_AA, #oldlace_AAA {
  color: orange;
}

#oldlace_A {
  background: #ffffff;
}

#oldlace_AA {
  background: #ffffff;
}

#oldlace_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.olive {
  color: orange;
  background: #808000;
}

#olive_A, #olive_AA, #olive_AAA {
  color: orange;
}

#olive_A {
  background: #676700;
}

#olive_AA {
  background: #4c4c00;
}

#olive_AAA {
  background: #2e2e00;
}

td.level_no {
  background: #ff0000;
}


td.olivedrab {
  color: orange;
  background: #6b8e23;
}

#olivedrab_A, #olivedrab_AA, #olivedrab_AAA {
  color: orange;
}

#olivedrab_A {
  background: #526c1b;
}

#olivedrab_AA {
  background: #3d5014;
}

#olivedrab_AAA {
  background: #24300c;
}

td.level_no {
  background: #ff0000;
}


td.orange {
  color: orange;
  background: #ffa500;
}

#orange_A, #orange_AA, #orange_AAA {
  color: orange;
}

#orange_A {
  background: #8a5a00;
}

#orange_AA {
  background: #674200;
}

#orange_AAA {
  background: #3e2800;
}

td.level_no {
  background: #ff0000;
}


td.orangered {
  color: orange;
  background: #ff4500;
}

#orangered_A, #orangered_AA, #orangered_AAA {
  color: orange;
}

#orangered_A {
  background: #ba3200;
}

#orangered_AA {
  background: #8a2500;
}

#orangered_AAA {
  background: #561700;
}

td.level_no {
  background: #ff0000;
}


td.orchid {
  color: orange;
  background: #da70d6;
}

#orchid_A, #orchid_AA, #orchid_AAA {
  color: orange;
}

#orchid_A {
  background: #8f4a8d;
}

#orchid_AA {
  background: #6a3768;
}

#orchid_AAA {
  background: #412140;
}

td.level_no {
  background: #ff0000;
}


td.palegoldenrod {
  color: orange;
  background: #eee8aa;
}

#palegoldenrod_A, #palegoldenrod_AA, #palegoldenrod_AAA {
  color: orange;
}

#palegoldenrod_A {
  background: #ffffff;
}

#palegoldenrod_AA {
  background: #ffffff;
}

#palegoldenrod_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.palegreen {
  color: orange;
  background: #98fb98;
}

#palegreen_A, #palegreen_AA, #palegreen_AAA {
  color: orange;
}

#palegreen_A {
  background: #ffffff;
}

#palegreen_AA {
  background: #ffffff;
}

#palegreen_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.paleturquoise {
  color: orange;
  background: #afeeee;
}

#paleturquoise_A, #paleturquoise_AA, #paleturquoise_AAA {
  color: orange;
}

#paleturquoise_A {
  background: #ffffff;
}

#paleturquoise_AA {
  background: #ffffff;
}

#paleturquoise_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.palevioletred {
  color: orange;
  background: #db7093;
}

#palevioletred_A, #palevioletred_AA, #palevioletred_AAA {
  color: orange;
}

#palevioletred_A {
  background: #964c64;
}

#palevioletred_AA {
  background: #6f394b;
}

#palevioletred_AAA {
  background: #43222d;
}

td.level_no {
  background: #ff0000;
}


td.papayawhip {
  color: orange;
  background: #ffefd5;
}

#papayawhip_A, #papayawhip_AA, #papayawhip_AAA {
  color: orange;
}

#papayawhip_A {
  background: #ffffff;
}

#papayawhip_AA {
  background: #ffffff;
}

#papayawhip_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.peachpuff {
  color: orange;
  background: #ffdab9;
}

#peachpuff_A, #peachpuff_AA, #peachpuff_AAA {
  color: orange;
}

#peachpuff_A {
  background: #ffffff;
}

#peachpuff_AA {
  background: #ffffff;
}

#peachpuff_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.peru {
  color: orange;
  background: #cd853f;
}

#peru_A, #peru_AA, #peru_AAA {
  color: orange;
}

#peru_A {
  background: #8a592a;
}

#peru_AA {
  background: #65421f;
}

#peru_AAA {
  background: #3e2813;
}

td.level_no {
  background: #ff0000;
}


td.pink {
  color: orange;
  background: #ffc0cb;
}

#pink_A, #pink_AA, #pink_AAA {
  color: orange;
}

#pink_A {
  background: #ffffff;
}

#pink_AA {
  background: #ffffff;
}

#pink_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.plum {
  color: orange;
  background: #dda0dd;
}

#plum_A, #plum_AA, #plum_AAA {
  color: orange;
}

#plum_A {
  background: #7a597a;
}

#plum_AA {
  background: #5a415a;
}

#plum_AAA {
  background: #362736;
}

td.level_no {
  background: #ff0000;
}


td.powderblue {
  color: orange;
  background: #b0e0e6;
}

#powderblue_A, #powderblue_AA, #powderblue_AAA {
  color: orange;
}

#powderblue_A {
  background: #ffffff;
}

#powderblue_AA {
  background: #ffffff;
}

#powderblue_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.purple {
  color: orange;
  background: #800080;
}

#purple_A, #purple_AA, #purple_AAA {
  color: orange;
}

#purple_A {
  background: #b200b2;
}

#purple_AA {
  background: #860086;
}

#purple_AAA {
  background: #550055;
}

td.level_no {
  background: #ff0000;
}


td.red {
  color: orange;
  background: #ff0000;
}

#red_A, #red_AA, #red_AAA {
  color: orange;
}

#red_A {
  background: #cb0000;
}

#red_AA {
  background: #990000;
}

#red_AAA {
  background: #610000;
}

td.level_no {
  background: #ff0000;
}


td.rosybrown {
  color: orange;
  background: #bc8f8f;
}

#rosybrown_A, #rosybrown_AA, #rosybrown_AAA {
  color: orange;
}

#rosybrown_A {
  background: #795c5c;
}

#rosybrown_AA {
  background: #5a4444;
}

#rosybrown_AAA {
  background: #372929;
}

td.level_no {
  background: #ff0000;
}


td.royalblue {
  color: orange;
  background: #4169e1;
}

#royalblue_A, #royalblue_AA, #royalblue_AAA {
  color: orange;
}

#royalblue_A {
  background: #395cc6;
}

#royalblue_AA {
  background: #2a4493;
}

#royalblue_AAA {
  background: #1a2959;
}

td.level_no {
  background: #ff0000;
}


td.saddlebrown {
  color: orange;
  background: #8b4513;
}

#saddlebrown_A, #saddlebrown_AA, #saddlebrown_AAA {
  color: orange;
}

#saddlebrown_A {
  background: #9d4e16;
}

#saddlebrown_AA {
  background: #743a10;
}

#saddlebrown_AAA {
  background: #47230a;
}

td.level_no {
  background: #ff0000;
}


td.salmon {
  color: orange;
  background: #fa8072;
}

#salmon_A, #salmon_AA, #salmon_AAA {
  color: orange;
}

#salmon_A {
  background: #994e46;
}

#salmon_AA {
  background: #713a34;
}

#salmon_AAA {
  background: #452320;
}

td.level_no {
  background: #ff0000;
}


td.sandybrown {
  color: orange;
  background: #f4a460;
}

#sandybrown_A, #sandybrown_AA, #sandybrown_AAA {
  color: orange;
}

#sandybrown_A {
  background: #865a35;
}

#sandybrown_AA {
  background: #634327;
}

#sandybrown_AAA {
  background: #3c2818;
}

td.level_no {
  background: #ff0000;
}


td.seagreen {
  color: orange;
  background: #2e8b57;
}

#seagreen_A, #seagreen_AA, #seagreen_AAA {
  color: orange;
}

#seagreen_A {
  background: #267147;
}

#seagreen_AA {
  background: #1c5334;
}

#seagreen_AAA {
  background: #113320;
}

td.level_no {
  background: #ff0000;
}


td.seashell {
  color: orange;
  background: #fff5ee;
}

#seashell_A, #seashell_AA, #seashell_AAA {
  color: orange;
}

#seashell_A {
  background: #ffffff;
}

#seashell_AA {
  background: #ffffff;
}

#seashell_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.sienna {
  color: orange;
  background: #a0522d;
}

#sienna_A, #sienna_AA, #sienna_AAA {
  color: orange;
}

#sienna_A {
  background: #9a4f2b;
}

#sienna_AA {
  background: #723b20;
}

#sienna_AAA {
  background: #452414;
}

td.level_no {
  background: #ff0000;
}


td.silver {
  color: orange;
  background: #c0c0c0;
}

#silver_A, #silver_AA, #silver_AAA {
  color: orange;
}

#silver_A {
  background: #ffffff;
}

#silver_AA {
  background: #ffffff;
}

#silver_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.skyblue {
  color: orange;
  background: #87ceeb;
}

#skyblue_A, #skyblue_AA, #skyblue_AAA {
  color: orange;
}

#skyblue_A {
  background: #ffffff;
}

#skyblue_AA {
  background: #ffffff;
}

#skyblue_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.slateblue {
  color: orange;
  background: #6a5acd;
}

#slateblue_A, #slateblue_AA, #slateblue_AAA {
  color: orange;
}

#slateblue_A {
  background: #6254be;
}

#slateblue_AA {
  background: #493e8e;
}

#slateblue_AAA {
  background: #2c2656;
}

td.level_no {
  background: #ff0000;
}


td.slategray {
  color: orange;
  background: #708090;
}

#slategray_A, #slategray_AA, #slategray_AAA {
  color: orange;
}

#slategray_A {
  background: #596572;
}

#slategray_AA {
  background: #414b54;
}

#slategray_AAA {
  background: #282d33;
}

td.level_no {
  background: #ff0000;
}


td.slategrey {
  color: orange;
  background: #708090;
}

#slategrey_A, #slategrey_AA, #slategrey_AAA {
  color: orange;
}

#slategrey_A {
  background: #596572;
}

#slategrey_AA {
  background: #414b54;
}

#slategrey_AAA {
  background: #282d33;
}

td.level_no {
  background: #ff0000;
}


td.snow {
  color: orange;
  background: #fffafa;
}

#snow_A, #snow_AA, #snow_AAA {
  color: orange;
}

#snow_A {
  background: #ffffff;
}

#snow_AA {
  background: #ffffff;
}

#snow_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.springgreen {
  color: orange;
  background: #00ff7f;
}

#springgreen_A, #springgreen_AA, #springgreen_AAA {
  color: orange;
}

#springgreen_A {
  background: #00ffff;
}

#springgreen_AA {
  background: #00ffff;
}

#springgreen_AAA {
  background: #00ffff;
}

td.level_no {
  background: #ff0000;
}


td.steelblue {
  color: orange;
  background: #4682b4;
}

#steelblue_A, #steelblue_AA, #steelblue_AAA {
  color: orange;
}

#steelblue_A {
  background: #38678f;
}

#steelblue_AA {
  background: #294c6a;
}

#steelblue_AAA {
  background: #192e40;
}

td.level_no {
  background: #ff0000;
}


td.tan {
  color: orange;
  background: #d2b48c;
}

#tan_A, #tan_AA, #tan_AAA {
  color: orange;
}

#tan_A {
  background: #ffffff;
}

#tan_AA {
  background: #ffffff;
}

#tan_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.teal {
  color: orange;
  background: #008080;
}

#teal_A, #teal_AA, #teal_AAA {
  color: orange;
}

#teal_A {
  background: #006f6f;
}

#teal_AA {
  background: #005353;
}

#teal_AAA {
  background: #003232;
}

td.level_no {
  background: #ff0000;
}


td.thistle {
  color: orange;
  background: #d8bfd8;
}

#thistle_A, #thistle_AA, #thistle_AAA {
  color: orange;
}

#thistle_A {
  background: #ffffff;
}

#thistle_AA {
  background: #ffffff;
}

#thistle_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.tomato {
  color: orange;
  background: #ff6347;
}

#tomato_A, #tomato_AA, #tomato_AAA {
  color: orange;
}

#tomato_A {
  background: #aa422f;
}

#tomato_AA {
  background: #7e3123;
}

#tomato_AAA {
  background: #4d1e16;
}

td.level_no {
  background: #ff0000;
}


td.turquoise {
  color: orange;
  background: #40e0d0;
}

#turquoise_A, #turquoise_AA, #turquoise_AAA {
  color: orange;
}

#turquoise_A {
  background: #ffffff;
}

#turquoise_AA {
  background: #ffffff;
}

#turquoise_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.violet {
  color: orange;
  background: #ee82ee;
}

#violet_A, #violet_AA, #violet_AAA {
  color: orange;
}

#violet_A {
  background: #8c4c8c;
}

#violet_AA {
  background: #673867;
}

#violet_AAA {
  background: #3f223f;
}

td.level_no {
  background: #ff0000;
}


td.wheat {
  color: orange;
  background: #f5deb3;
}

#wheat_A, #wheat_AA, #wheat_AAA {
  color: orange;
}

#wheat_A {
  background: #ffffff;
}

#wheat_AA {
  background: #ffffff;
}

#wheat_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.white {
  color: orange;
  background: #ffffff;
}

#white_A, #white_AA, #white_AAA {
  color: orange;
}

#white_A {
  background: #ffffff;
}

#white_AA {
  background: #ffffff;
}

#white_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.whitesmoke {
  color: orange;
  background: #f5f5f5;
}

#whitesmoke_A, #whitesmoke_AA, #whitesmoke_AAA {
  color: orange;
}

#whitesmoke_A {
  background: #ffffff;
}

#whitesmoke_AA {
  background: #ffffff;
}

#whitesmoke_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


td.yellow {
  color: orange;
  background: #ffff00;
}

#yellow_A, #yellow_AA, #yellow_AAA {
  color: orange;
}

#yellow_A {
  background: #ffff00;
}

#yellow_AA {
  background: #ffff00;
}

#yellow_AAA {
  background: #ffff00;
}

td.level_no {
  background: #ff0000;
}


td.yellowgreen {
  color: orange;
  background: #9acd32;
}

#yellowgreen_A, #yellowgreen_AA, #yellowgreen_AAA {
  color: orange;
}

#yellowgreen_A {
  background: #ffffff;
}

#yellowgreen_AA {
  background: #ffffff;
}

#yellowgreen_AAA {
  background: #ffffff;
}

td.level_no {
  background: #ff0000;
}


